// Main SCSS Entry Point

// 1. Abstracts (Variables)
@import 'variables';

// 2. Base Styles
@import 'base';

// 3. Components
@import 'components/hero';
@import 'components/advantages';
@import 'components/expertise';
@import 'components/maximize';
@import 'components/job-acceptance';
@import 'components/start-earning';
@import 'components/payments';
@import 'components/groupage';
@import 'components/media';
@import 'components/platform-needs';
@import 'components/app-download';
@import 'components/eco-banner';
@import 'components/testimonials';